@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// GENERAL STYLES ///////////////////////////////////
/////////////////////////////////////////////////////

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, helvetica, sans-serif;
  text-align: center;
}

button {
  height: 35px;
  border: 1px solid $borderColor;
  background-color: $accentColor;
  font-size: 14px;
  font-weight: 500;
}

// LOGO STYLES //////////////////////////////////////
/////////////////////////////////////////////////////

.logo {
  margin: 0;
  color: $primaryDarkColor;
  font-size: 70px;
  font-weight: 300;

  .logo-accent {
    color: $accentColor;
    font-weight: 500;
  }
}

// LOGIN & SIGNUP STYLES ////////////////////////////
/////////////////////////////////////////////////////

.login-component,
.signup-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20% auto 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;

  label {
    align-self: flex-start;
    margin-bottom: 2px;
    font-size: 12px;
  }
}

.login-email-input,
.signup-email-input {
  width: 100%;
  height: 35px;
  padding: 5px;
  border: 1px solid $borderColor;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 14px;
}

.login-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .login-btn {
    background-color: $accentColor;
  }
}

.form-btn {
  border: 1px solid $accentColor;
  border-radius: 5px;
  font-size: 16px;
  padding: 4px;
  text-decoration: none;
  color: $primaryDarkColor;
  background-color: $primaryLightColor;
  transition: 200ms;

  &:hover {
    cursor: pointer;
    background-color: $activeColor;
  }
}

.login-btns > * {
  width: 48%;
}

#club-dropdown {
  margin-bottom: 10px;
  width: 100%;
  height: 35px;
}

.signup-submit-btn {
  width: 100%;
  height: 35px;
}


// HEADER STYLES ////////////////////////////////////
/////////////////////////////////////////////////////

.header-component {
  display: flex;
  // flex-direction: column;
  background-color: $primaryLightColor;
  padding: 10px;

  .logo {
    font-size: 40px;
  }

  .nav-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    .nav-link {
      margin: 0 10px;
      text-decoration: none;
      color: $primaryDarkColor;
      background-color: $accentColor;
      border-radius: 4px;
      padding: 5px;
      height: 30px;
    }
  }
}

// BOOK CARD STYLES /////////////////////////////////
/////////////////////////////////////////////////////

.book-card-component {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: left;
  padding-left: 140px;
  // min-height: 250px;
  font-weight: 300;

  p {
    margin: 5px 0;
  }

  .book-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  .book-author {
    font-size: 16px;
    font-weight: 400;
    margin: 4px 0 20px;
  }

  .book-cover {
    position: absolute;
    top: -20px;
    left: 20px;
  }

  .vote-btns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  a {
    margin-bottom: 20px;
    color: #837a57;
  }

  img {
    width: 100px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  }

  button {
    margin-top: auto;
    transition: 200ms;

    &:hover {
      cursor: pointer;
      background-color: $activeColor;
    }

    &.added {
      background-color: chartreuse;
    }
  }
}

// SEARCH PAGE STYLES ///////////////////////////////
/////////////////////////////////////////////////////

.search-page-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-form-component {
  .search-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    .search-input {
      width: 100%;
      height: 35px;
      padding: 5px;
      border: 1px solid $primaryDarkColor;
      border-right-width: 0;
      border-radius: 3px 0 0 3px;
      font-size: 14px;
    }

    .search-btn {
      display: block;
      height: 35px;
      border: 1px solid $primaryDarkColor;
      border-radius: 0 3px 3px 0;
      background-color: $accentColor;
      font-size: 16px;
      transition: 200ms;

      &:hover {
        cursor: pointer;
        background-color: $activeColor;
      }
    }
  }
}


// SEARCH RESULTS STYLES ////////////////////////////
/////////////////////////////////////////////////////

.search-results-component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  margin-top: 50px;
}

// SUGGESTED BOOKS STYLES ////////////////////////////
/////////////////////////////////////////////////////

.suggested-books-container {
  padding: 20px;
}

.suggested-books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  margin-top: 50px;
}

// CAROUSEL STYLES //////////////////////////////////
/////////////////////////////////////////////////////

.carousel-component {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin: 0 20px;
  overflow: scroll;
  padding: 50px 20px 50px;
}

.carousel-card {
  position: relative;
  width: 500px;
  height: 190px;
  text-align: left;
  padding: 10px;
  padding-left: 160px;
  border-radius: 6px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);

  .current-label {
    position: absolute;
    top: -30px;
    left: 0;
    font-weight: 600;
  }

  img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 130px;
    min-height: 190px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  }

  p {
    margin: 5px 0;
  }

  .book-title {
    font-size: 18px;
    font-weight: 800;
  }
  .book-author {
    font-weight: 600;
    margin-bottom: 15px;
  }
  a {
    color: $primaryDarkColor;
  }

  &.current-book {
    margin-right: 40px;
  }
}

.card-background {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255,255,255,.6);
  background-blend-mode: overlay;
  filter: blur(5px);
}

// MEDIA QUERIES ////////////////////////////////////
/////////////////////////////////////////////////////

@media screen and (max-width: 1100px) {
  .search-results-component,
  .suggested-books {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .search-results-component,
  .suggested-books {
    grid-template-columns: repeat(1, 1fr);
  }
  .header-component {
    flex-direction: column;

    .logo {
      margin-bottom: 10px;
    }

    .nav-link-container {
      margin: 0;

      .nav-link {
        margin: 0 6px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .book-card-component {
    padding: 175px 20px 20px;
    text-align: center;

    .book-cover {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
